body {
    background-size: contain;
    background-image: url(pozadina3.jpg);
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
}
img.kirin {
    margin-top: 1800px;
    width: 100%; 
}
img.tel1 {
    width: 750px;
    position: relative;
    margin-top: 65px;
    float: right;
    margin-right: 150px;

}
img.lupa{
    float: right;
    margin-right: 40px;
    width: 22px;
}
div.pretraga{
    position: static;
    float: right;
    margin-right: 80px;
    
}
img.logo {
    width: 70px;
    position: relative;
    margin-left: 10px; 
    margin-top: 5px;
}
nav.navigacija {
    position: relative;
    margin-left: 160px;
    margin-top:-38px;
    margin-right: 50px;
}
a {
    color: lightgray;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 30px;
    text-decoration: none;
    font-size: 18px;
}
p {
   line-height: 30px; 
}
div.teks {
    position: absolute;
    color: white;
    font-size: 25px;
    font-family: "Arial", bold;
    margin-top: 250px;
    margin-left: 300px;
}
a:hover {
    transition-duration: 0.7s;
    transition-timing-function: ease;
    color: white;
}
img.tel3 
{
    position: absolute;
    margin-top: 100px;
    margin-left:1200px;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
img.tel4
{
    position: absolute;
    margin-top: 100px;
    margin-left: 1400px;
}
hr.nozna 
{
    margin-top: 1500px;
    margin-left: 50px;
    margin-right: 50px;
}
p.copy {
    color: lightgray;
    font-family: "Arial", bold;
}
img.tel3:hover {
    margin-left: 1075px;  
}
.kamera {
    position: absolute;
    margin-top: 1150px;
    margin-left: 600px;
    width: 35%;
    transition-duration: 500ms;
    transition-timing-function: ease;
    z-index: 1;
}
.kamera:hover {
    transform: rotate(-90deg);
    width: 40%;
}

.kamera:hover ~ .kamspec {
    opacity: 100%;
}

.kamspec {
    position: absolute;
    margin-top: 987px;
    margin-left: 420px;
    width: 44%;
    transition-delay: 300ms;
    transition-duration: 300ms;
    transition-timing-function: ease;
    opacity: 0%;
}
p.cpu {
    position: relative;
    color: white;
    text-align: center;
    margin-top: -250px;
    font-family: "Arial", bold;
    opacity: 100%;
    font-size: 25px;
    text-shadow: 10px;  
    opacity: 0%;
    transition-duration: 300ms;
    transition-delay: 200ms;
    transition-timing-function: ease;
}
img.kirin:hover ~ .cpu{
    opacity: 100%;
}